.comment-btn {
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .6);
    font-size: 18px;
    color: white;
    /* margin-top: 5px; */
    padding: 5px 53px;
    cursor: pointer;
    transition: .4s;
}


.comment-btn:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
}