.del-btn,
.edit-btn,
.post-btn {
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .6);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 43px;
    cursor: pointer;
    transition: .4s;
}

.del-btn:hover,
.edit-btn:hover,
.post-btn:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
}