.createSection,
.editSection {
    /* background: url(../img/form-background.jpg); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: auto;
    width: 720px;
    height: 600px;
    margin-top: 2rem;
    left: 35%;
    text-align: center;
    display: flex;
    color: white;
    box-shadow: 3px 10px 20px 5px rgba(0, 0, 0, .5);
}

.createForm,
.editForm {
    width: 720px;
    padding: 10px 0;
    background: rgba(20, 40, 40, .8);
    transition: .2s;
}

.create-btn,
.edit-btn {
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .6);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 43px;
    cursor: pointer;
    transition: .4s;
}

.create-btn:hover,
.edit-btn:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
}

.modal {
    width: 45rem;
    position: absolute;
    max-height: 90vh;
    margin: auto;
    border-radius: 20px;
    background-color: white;
    padding: 1rem;
    box-shadow: 0 2px 8px rgb(0 0 0 / 25%);
    z-index: 30;
    margin-top: 50px;
  }

.inputFields {
    margin: 18px 0;
    font-size: 19px;
    padding: 10px;
    width: 270px;
    border: 1px solid rgba(10, 180, 180, 1);
    border-top: none;
    border-left: none;
    border-right: none;
    background: rgba(20, 20, 20, .2);
    color: white;
    outline: none;
}

.noBullet {
    list-style-type: none;
    padding: 0;
}
  
  @media (min-width: 930px) {
    .modal {
      width: 45rem;
      left: calc(50% - 20rem);
      border-radius: 14px;
    }
  }