.description {
    text-align: left;
    /* display:inline; */
    margin-left: 10px;
    background-color: rgb(109, 143, 118);
    color: azure;
    padding: 0px;
    font-style: unset;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

.btn {
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .6);
    font-size: 18px;
    color: white;
    margin-top: 20px;
    padding: 10px 43px;
    cursor: pointer;
    transition: .4s;
}

.btn:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
}