.description {
    text-align: left;
    margin-top: 2em;
    margin-left: 10px;
    margin-right: 10px;
    background-color: #c2f6ea;;
    color: rgb(161, 123, 90);
    padding: 30px;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: xx-large;
}

.btn {
    border: 1px solid rgba(10, 180, 180, 1);
    background: rgba(20, 20, 20, .6);
    font-size: 18px;
    color: white;
    margin-top: 2em;
    margin-bottom: 2em;
    margin-left: 10px;
    padding: 5px 43px;
    cursor: pointer;
    transition: .4s;
}

.btn:hover {
    background: rgba(20, 20, 20, .8);
    padding: 10px 80px;
}